{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

{%- if settings.password_background_image != blank -%}
{%- render 'component-picture',
  image_mobile: settings.password_background_image,
  image_desktop: settings.password_background_image,
  img_alt: settings.password_background_image.alt,
  max_width_mobile: 1600,
  class: 'password-background-image',
  lazy: false
-%}
{%- endif -%}
<div class="password__container">
  <header>
    <h1>
      <span class="logo-image">
        {% render 'logo', title: shop.name %}
      </span>
    </h1>
  </header>

  <h2>{{ 'general.password_page.opening_soon' | t }}</h2>

  {% unless shop.password_message == blank %}
    <p>
      {{ shop.password_message }}
    </p>
  {% endunless %}

  {%- if settings.password_include_subscribe -%}
    {% form 'customer' %}

      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
        <ul class="form__success">
          <li>{{ 'general.password_page.signup_form_success' | t }}</li>
        </ul>
      {% else %}
        <h4>{{ 'general.password_page.signup_form_heading' | t }}</h4>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <div class="form__group">
          <label for="email">
            {{ 'general.password_page.signup_form_email_label' | t }}
          </label>
          <input type="email"
            name="contact[email]"
            id="Email"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
        </div>
        <button type="submit" name="commit" class="btn">
          {{ 'general.password_page.signup_form_submit' | t }}
        </button>
      {% endif %}
    {% endform %}
  {%- endif -%}

  {% if settings.share_facebook or settings.share_twitter %}
    <p>{{ 'general.password_page.spread_the_word' | t }}</p>
    {% render 'social-sharing' %}
  {% endif %}

  <button type="button" data-password-modal-trigger id="password-modal--label" class="btn btn--block">
    {% render 'icon-lock' %}
    {{ 'general.password_page.password_link' | t }}
  </button>

  <footer>
    {% capture shopify_link %}
      <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
        {% render 'icon-shopify-logo' %}
      </a>
    {% endcapture %}
    <small>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}</small>
  </footer>
</div>


{% capture passwordClasses %}password sm{% endcapture %}
{% capture passwordLabel %}password-modal--label{% endcapture %}
{% capture passwordDesc %}Modal dialog for store login with password{% endcapture %}
{% capture passwordContent %}
  <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <div class="form__group">
      <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <input type="password"
        name="password"
        id="Password"
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
    </div>
    <button type="submit" name="commit" class="btn">
      {{ 'general.password_page.login_form_submit' | t }}
    </button>
  {% endform %}
  <p>{{ 'general.password_page.admin_link_html' | t }}</p>
{% endcapture %}

{% render 'component-modal-dialog',
  modal_class: passwordClasses,
  modal_id: 'password',
  modal_label: passwordLabel,
  modal_desc: passwordDesc,
  modal_content: passwordContent
%}
