{%- comment -%}
  @param {string} [type=edit] - Type of address form; edit or new. Defaults to edit.
  @param {string} [classes] - CSS classes to add to the address forms.
{%- endcomment -%}

{%- assign type = type | default: 'edit' -%}

{%- if type == 'edit' -%}
  {% form 'customer_address', address, class: classes, data-address-form: 'edit' %}
    <h5>{{ 'customer.addresses.edit_address' | t }}</h5>

    {%- render 'address-form-fields', form: form, address: address -%}
    <div class="form__group inline form__group--set-default-address">
      <div class="form__inline-input">
        {{ form.set_as_default_checkbox -}}
        <label
          for="address_default_address_{{ form.id }}"
          class="small"
        >
          {{ 'customer.addresses.set_default' | t }}
        </label>
      </div>
    </div>
    <div class="button-container">
      <button type="submit" class="btn btn--block">
        {{- 'customer.addresses.update' | t -}}
      </button>
      <button type="button" class="btn btn--secondary btn--block" data-address-toggle="cancelEdit">
        {{- 'customer.addresses.cancel' | t -}}
      </button>
    </div>
  {% endform %}
{%- elsif type == 'new' -%}
  {% form 'customer_address', customer.new_address, class: classes, data-address-form: 'new' %}
    <h5>{{ 'customer.addresses.add_new' | t }}</h5>

    {%- render 'address-form-fields', form: form -%}
    <div class="form__group inline form__group--set-default-address">
      <div class="form__inline-input">
        {{ form.set_as_default_checkbox -}}
        <label
          for="address_default_address_{{ form.id }}"
          class="small"
        >
          {{ 'customer.addresses.set_default' | t }}
        </label>
      </div>
    </div>
    <div class="button-container">
      <button type="submit" class="btn btn--block">
        {{- 'customer.addresses.add' | t -}}
      </button>
      <button type="button" class="btn btn--secondary btn--block" data-address-toggle="cancelAdd">
        {{- 'customer.addresses.cancel' | t -}}
      </button>
    </div>
  {% endform %}
{%- endif -%}
