{% if settings.enable_ecommerce %}
  <a href="{{ routes.cart_url }}" class="header__btn header__btn--cart btn__icon {% if cart.item_count > 0 %}icon-animate{% endif %}" data-toggle-cart data-animate-bag-icon>
    {% render 'icon-bag' %} <span {% unless section.settings.include_text_with_cart == true %}class="visually-hidden"{% endunless %}>{{ 'layout.cart.title' | t }}</span>
    <span data-items-count="{{ cart.item_count }}">{{ cart.item_count }}</span><span class="visually-hidden"> {{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
  </a>
{% endif %}