<div class="container">
  <div class="account account--narrow">
    <div class="form-reset-password">
      <header class="page-header">
        <h1 class="h3">{{ 'customer.reset_password.title' | t }}</h1>
      </header>
      {% form 'reset_customer_password' %}
        {% if form.errors %}
          {% for field in form.errors %}
            <p class="form__error">
              {{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}
            </p>
          {% endfor %}
        {% endif %}
        <p>{{ 'customer.reset_password.subtext' | t }}</p>
        <div class="form__group">
        <label for="ResetPassword">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="ResetPassword"
          class="{% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}">
        </div>

        <div class="form__group">
        <label for="PasswordConfirmation">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
        </div>

        <input type="submit" class="btn btn--block" value="{{ 'customer.reset_password.submit' | t }}">
      {% endform %}
    </div>
  </div>
</div>
