{%- liquid
  assign block_length = section.blocks | size
  assign image_max_width = 1120
  assign image_sizes = '(min-width: 61.875rem) 100vw, (min-width: 48rem) 40vw, 66.666vw'

  if block_length > 0
    capture block_width
      case block_length
        when 2
          echo 'half'
          assign image_max_width = 1440
          assign image_sizes = '(min-width: 48rem) calc(100vw / 2), 66.666vw'
        when 3
          echo 'third'
          assign image_sizes = '(min-width: 61.875rem) calc(100vw / 3), (min-width: 48rem) 40vw, 66.666vw'
        when 4
          echo 'quarter'
          assign image_sizes = '(min-width: 61.875rem) calc(100vw / 4), (min-width: 48rem) 40vw, 66.666vw'
      endcase
    endcapture
  endif
-%}

<div data-section-id="{{ section.id }}" data-section-type="featured-images">
  {%- if section.settings.title != blank or section.settings.text != blank -%}
    <div class="featured-images__heading container">
      {%- if section.settings.title != blank -%}
        <h2 class="featured-images__title">{{ section.settings.title }}</h2>
      {%- endif -%}

      {%- if section.settings.text != blank -%}
        <div class="featured-images__intro rte">
          {{ section.settings.text }}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- if block_length >= 2 -%}
    <div class="featured-images__slider carousel images-{{ block_length }}" data-slider-container>
      {%- for block in section.blocks -%}
        <div class="featured-images__slide slide {{ block_width }}">
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}">
          {%- endif -%}

          <div class="featured-images__image">
            {%- render 'component-image',
              image: block.settings.image,
              aspect_ratio: 'portrait',
              max_width: image_max_width,
              sizes: image_sizes
            -%}

            <div class="featured-images__image-text">
              {%- if block.settings.title != blank -%}
                <h3 class="featured-images__image-title h5">{{ block.settings.title }}</h3>
              {%- endif -%}

              {%- if block.settings.link != blank and block.settings.link_text != blank -%}
                <div class="featured-images__image-btn btn__text">{{ block.settings.link_text }}</div>
              {%- endif -%}
            </div>
          </div>

          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Featured Images",
    "class": "featured-images",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Minimum size 1440 x 1994px"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text",
            "default": "Shop Now"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Images",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
