<section class="rewards-text section-spacer--{{ section.settings.section_bottom_margin }}{% if section.settings.padding_size != 'none' %} vert-padding padding-{{ section.settings.padding_size }}{% endif %}">
  <div class="text-with-cta">
    <div class="container container--narrow text-center">
      {%- if section.settings.title != blank -%}
        <h2 class="rewards-text__title">
          {{ section.settings.title | escape }}
        </h2>
      {%- endif -%}

      {%- if section.settings.text != blank -%}
        <div class="text-with-cta__text-body">
          {{ section.settings.text }}
        </div>
      {%- endif -%}
    </div>
    <div class="container container--medium text-center">
      {%- if customer -%}
        <div class="rewards-text__buttons{% if section.settings.stack_buttons_mobile_logged_in %} stack-buttons{% endif %}">
          {%- if section.settings.button_label_logged_in_1 != blank and section.settings.button_link_logged_in_1 != blank -%}
            <a href="{{ section.settings.button_link_logged_in_1 }}" class="btn btn{{ section.settings.button_style_logged_in_1 }} btn--block">
              {{ section.settings.button_label_logged_in_1 | escape }}
            </a>
          {%- endif -%}

          {%- if section.settings.button_label_logged_in_2 != blank and section.settings.button_link_logged_in_2 != blank -%}
            <a href="{{ section.settings.button_link_logged_in_2 }}" class="btn btn{{ section.settings.button_style_logged_in_2 }} btn--block">
              {{ section.settings.button_label_logged_in_2 | escape }}
            </a>
          {%- endif -%}
        </div>

      {%- else -%}
        <div class="rewards-text__buttons{% if section.settings.stack_buttons_mobile %} stack-buttons{% endif %}">
          {%- if section.settings.button_label_1 != blank and section.settings.button_link_1 != blank -%}
            <a href="{{ section.settings.button_link_1 }}" class="btn btn{{ section.settings.button_style_1 }} btn--block">
              {{ section.settings.button_label_1 | escape }}
            </a>
          {%- endif -%}

          {%- if section.settings.button_label_2 != blank and section.settings.button_link_2 != blank -%}
            <a href="{{ section.settings.button_link_2 }}" class="btn btn{{ section.settings.button_style_2 }} btn--block">
              {{ section.settings.button_label_2 | escape }}
            </a>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

<style>
  #shopify-section-{{ section.id }} .rewards-text {
    {%- if section.settings.background_color != blank -%}
      background-color: {{ section.settings.background_color }};
    {%- endif -%}
  }
</style>

{% schema %}
  {
    "name": "Rewards - Text with CTA",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Join Our Community Of Beach Lovers"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>As a member of The Beach Club, you have exclusive access to rewards and benefits, starting with your $20 sign up reward, available to use on your next purchase*.</p>"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Section background color"
      },
      {
        "type": "header",
        "content": "Logged Out"
      },
      {
        "type": "text",
        "id": "button_label_1",
        "label": "Left Button label",
        "default": "Log In"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "Left Button URL"
      },
      {
        "type": "radio",
        "id": "button_style_1",
        "label": "Button style",
        "options": [
          {
            "value": "--secondary",
            "label": "White"
          },
          {
            "value": "--primary",
            "label": "Black"
          }
        ],
        "default": "--secondary"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "Right Button label",
        "default": "Sign Up"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "Right Button URL"
      },
      {
        "type": "radio",
        "id": "button_style_2",
        "label": "Button style",
        "options": [
          {
            "value": "--secondary",
            "label": "White"
          },
          {
            "value": "--primary",
            "label": "Black"
          }
        ],
        "default": "--primary"
      },
      {
        "type": "checkbox",
        "id": "stack_buttons_mobile",
        "label": "Stack buttons on mobile",
        "default": false
      },
      {
        "type": "header",
        "content": "Logged In"
      },
      {
        "type": "text",
        "id": "button_label_logged_in_1",
        "label": "Left Button label",
        "default": "My Rewards"
      },
      {
        "type": "url",
        "id": "button_link_logged_in_1",
        "label": "Left Button URL"
      },
      {
        "type": "radio",
        "id": "button_style_logged_in_1",
        "label": "Button style",
        "options": [
          {
            "value": "--secondary",
            "label": "White"
          },
          {
            "value": "--primary",
            "label": "Black"
          }
        ],
        "default": "--secondary"
      },
      {
        "type": "text",
        "id": "button_label_logged_in_2",
        "label": "Right Button label",
        "default": "Start Shopping"
      },
      {
        "type": "url",
        "id": "button_link_logged_in_2",
        "label": "Right Button URL"
      },
      {
        "type": "radio",
        "id": "button_style_logged_in_2",
        "label": "Button style",
        "options": [
          {
            "value": "--secondary",
            "label": "White"
          },
          {
            "value": "--primary",
            "label": "Black"
          }
        ],
        "default": "--primary"
      },
      {
        "type": "checkbox",
        "id": "stack_buttons_mobile_logged_in",
        "label": "Stack buttons on mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Layout options"
      },
      {
        "type": "select",
        "id": "padding_size",
        "label": "Choose vertical padding spacing",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Regular",
            "value": "regular"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra-Large",
            "value": "xlarge"
          }
        ],
        "default": "xlarge"
      },
      {
        "type": "select",
        "id": "section_bottom_margin",
        "label": "Section bottom margin",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      }
    ],
    "templates": [
      "page"
    ],
    "presets": [
      {
        "name": "Rewards -  Text with CTA",
        "category": "Rewards"
      }
    ]
  }
{% endschema %}
