<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32, crop: 'center' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <script async src="{{ 'lazysizes-custom.js' | asset_url }}"></script>
  {% liquid
    render 'css-variables'
    render 'style-tags'
    render 'script-tags'
  %}

  {{ content_for_header }}

  {% liquid
    render 'social-meta-tags'
    render 'gtm', position: 'head'
    render 'onetrust-script'
  %}
</head>

<body class="template-password">
  {% render 'gtm', position: 'body' %}

  <main id="MainContent" class="password__main">
    {{ content_for_layout }}
  </main>

  {% render 'json-ld' %}
</body>
</html>
